.DS_Store
datasets/.DS_Store
datasets/indonesia/.DS_Store
datasets/rainfall_stats/.DS_Store
rainfall_stats/indonesia/.DS_Store
.ipynb_checkpoints
default-94652207-efce-40ec-9691-9bdabbab2a33.ipynb
.Rproj.user
